.square {
	border: 1px solid #bdbdbd;
}

.square i {
	padding-top: 49px;
}

.square p {
	padding-bottom: 49px;
}

.square:HOVER {
	border: 1px solid #388e3c;
	transition: all .2s red ease-in-out ;
	transform: scale(1.1);
}
.hoverable{
	box-shadow: red !important;
}

.square:HOVER>i {
	color: #388e3c !important;
}

.square:HOVER p {
	color: #388e3c;
}

.secretaria-title {
	margin-bottom: 40px;
}

.btn-font{
	font-size: 13px;
}


@media ( max-width : 1380px) {
	.btn-font {
		top: 70px;
		left: 1%;
	}
}

@media ( max-width : 1030px) {
	.btn-font {
		top: 70px;
		left: -15%;
	}
}

.vertical-line {
	top: 0;
	border-left: 1px solid #bdbdbd;
	margin-left: 20px;
}