.ar-box {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background: #F4F4F4;
	z-index: 101;
}

.header-conf{
	margin-bottom: 0px;
}

.fs25 {
	font-size: 25px;
}

@media ( max-width : 1380px) {
	.fs25 {
		font-size: 22px;
	}
}

@media ( max-width : 1030px) {
	.fs25 {
		font-size: 20px;
	}
}

.active-effect:HOVER{
	color: #81c784 !important;
	cursor: pointer;
}

.ar-box-vline {
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	display: none;
}

.ar-box-vline h5 {
	margin-left: 4%;
}

.ar-box-vline ul {
	margin-left: 4% !important;
	padding-left: 0px !important;
}

.ar-box li {
	margin-bottom: 15px;
}

.ar-box-mrbt {
	margin-top: 25px;
	margin-bottom: 40px;
}

.ar-box h5 {
	
}

.ar-nav-menu a:HOVER {
	border-bottom: 1px solid;
	padding-bottom: 25px;
}

.ar-box-active {
	color: #006d38 !important;
}

.ar-box a:HOVER {
}

div+a:hover+li {
	display: block;
}

.ar-box-is-selected {
	display: block !important;
	opacity: 2;
	transition: visibility 0s, opacity 0.2s linear;
}

.ar-box-is-selected h5 {
	color: #006d38 !important;
}

.ar-box-is-not-selected {
	display: none;
}

#menuBox .row{
	margin-bottom: 0px !important;
}

.active{
	display: block;
}
.inactive{
	display: none !important;
}
.uper-index {
	z-index: 999!important;
}

.sub-menu-conf{
	position: absolute;
	width: 100%;
}

.testando{
	position: inherit;
	
}
.unclick {
	pointer-events: none;
	background: none;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: transparent;
	cursor: default;
	font-size: 21px !important;
}

.dropdown-content li:HOVER{
	background: none;
}
.dropdown-content li a:HOVER{
	background: none;
	color: #81c784 !important;
}

.hoverText {
	color: #81c784 !important;
}

.testando:hover{
	color: #81c784 !important;
}

*********************************************
**					FOOTER				   **
*********************************************


.footer-conf{
	
}

.footer-conf p{
	margin-bottom: 0px;
	margin-top: 5px;
	line-height: 20px;
}

.footer-title{
	font-weight: bold;
}

.footer-conf-title{
	
}