.parallax-container {
	height: 250px !important;
}

.parallax-img {
	width: 100%;
}

.parallax {
	position: static !important;
}

.mayor-effect {
	
}

.mayor-effect:HOVER+.teste {
	background-color: #81c784 !important;
}

.info-block {
	height: 150px;
	border-radius: 5px;
}