.alinhar-centro {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.bold {
	font-weight: bolder;
}

.erro-msg {
	color: red;
}

.sucesso-msg {
	color: blue;
}

.ml50 {
	margin-left: 50px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
/*******************************/
/*		MARGIN      			*/
/*******************************/
.m0 {
	margin: 0px;
}



.ml15 {
	margin-left: 15px;
}

.ml80 {
	margin-left: 80px;
}

.mr15 {
	margin-right: 15px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mb0 {
	margin-bottom: 0px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb18 {
	margin-bottom: 18px !important;
}

.mb20 {
	margin-bottom: 20px;
}

.mt0 {
	margin-top: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}
/*******************************/
/*		PADDING      			*/
/*******************************/
.pl0 {
	padding-left: 0px !important;
}

.pl5 {
	padding-left: 5px;
}

.pl8 {
	padding-left: 8px;
}

.pl10 {
	padding-left: 10px;
}

.pl12 {
	padding-left: 12px;
}

.pl20 {
	padding-left: 20px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb16 {
	padding-bottom: 16px !important;
}

.pb17 {
	padding-bottom: 17px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb30 {
	padding-bottom: 30px;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px;
}

.pl20 {
	padding-left: 20px;
}

.p0 {
	padding: 0px !important;
}

.p10 {
	padding: 10px;
}

.p20 {
	padding: 20px !important;
}

.pt5 {
	padding-top: 5px;
}

.pt15 {
	padding-top: 15px;
}

.pt10 {
	padding-top: 10px;
}

.pt20 {
	padding-top: 20px;
}

.pt30 {
	padding-top: 30px;
}

.bb0 {
	border-bottom: 0px !important;
}

.b0 {
	border: 0px !important;
}

.center {
	display: block;
	margin: auto;
}