<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{~/base/layout}">
<head>
<title th:text="#{messages.contratos.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Dream Developer" />
<link rel="stylesheet" th:href="@{/css/home/home.css}" />
<link rel="stylesheet" th:href="@{/css/editais/licitacao.css}" />
<script type="text/javascript" th:src="@{/js/editais/licitacao.js}"></script>
<script type="text/javascript" th:src="@{/js/CSVGenerator.js}"></script>
<script type="text/javascript" th:src="@{/js/FileSaver.js}"></script>
<script type="text/javascript" th:src="@{/js/html-docx.js}"></script>
<script type="text/javascript" th:src="@{/js/jspdf.debug.js}"></script>
<script type="text/javascript" th:src="@{/js/html2pdf.js}"></script>
<script type="text/javascript" th:src="@{/js/jspdf.plugin.autotable.js}"></script>
<script type="text/javascript" th:src="@{/js/editais/contrato.js}"></script>


</head>
<body>
	<section layout:fragment="content">

		<div class="background">
		
			<!-- CAMINHO DE PÃO -->
			 <nav class="breadcrumb-line">
			    <div class="nav-wrapper green darken-3">
			      <div class="col s12 page-align">
			        <a 	th:href="@{/home}" class="breadcrumb white-text" th:text="#{messages.home.caminhopao}"></a>
			        <a th:href="@{/editais/contratos}" class="breadcrumb white-text" th:text="#{messages.contratos.caminhopao}"></a>
			      </div>
			    </div>
			  </nav>
			  
			<div class="row">
			
				<div class="col s12  mb10 mt5">
						<ul class="right">
							<li class="fl ml15  valign-wrapper">
								<i class="material-icons">print</i>&nbsp;&nbsp;IMPRIMIR: 
							</li>
						
							<li class="fl ml15">
								<a href="#" class="valign-wrapper mover" onclick="createPDFFile(getData())"><i class="material-icons">library_books</i>&nbsp;PDF</a>
							</li>
							<li class="fl ml15 valign-wrapper">
								<a href="#" class="valign-wrapper mover" onclick="createDocFile()"><i class="material-icons">library_books</i>&nbsp;DOC</a>
							</li>
							<li class="fl ml15 valign-wrapper">
								<a href="#" class="valign-wrapper mover" onclick="createCSVFile()"><i class="material-icons">library_books</i>&nbsp;CSV</a>
							</li>
						</ul>
				</div>
				<form class="col s12" 
						id="licitacao-form" 
						th:action="@{../editais/pesquisaLicitacao}" 
						th:object="${licitacao}" 
						method="post">
					
					
					<div class="row">

						<div class="input-field col s6">
						
							<select th:name="orgaoVO">
								<option th:each="orgao : ${orgaos}" th:value="${orgao.id}" th:text="${orgao.orgao}"></option>
							</select> 
							<label th:text="#{messages.licitacao.orgaos}"></label>

						</div>

						<div class=" input-field col s3">
							<label th:text="#{messages.licitacao.dots.data.inicial}"></label> 
							<input type="text" class="datepicker" id="data-inicial" th:name="dataInicialVO"/>
						</div>

						<div class="input-field col s3">
							<label th:text="#{messages.licitacao.dots.data.final}" ></label> 
							<input type="text" class="datepicker" id="data-final" th:name="dataFinalVO" />
						</div>

					</div>

					<div class="row">

						<div class="input-field col s2">
							<input placeholder="CNPJ" id="cnpj-licitacao" form="licitacao-form" type="text" class="validate"  th:name="cnpjVO" /> 
							<label for="cnpj-licitacao" th:text="#{messages.licitacao.cpf.cnpj}"></label>
						</div>

						<div class="input-field col s4">
							<input placeholder="Razão Social" id="fornecedor-licitacao" th:name="fornecedorVO" type="text" class="validate" /> 
							<label for="fornecedor-licitacao" th:text="#{messages.licitacao.fornecedor}"></label>
						</div>

					</div>

					<div class="row">
						<button class="waves-effect waves-light btn right green darken-3 z-depth-3" type="submit">
							<i class="material-icons left">search</i>PESQUISAR
						</button>
						
						<a class="waves-effect waves-green btn right transparent green-text text-darken-3 z-depth-3" onclick="refresh()">
							<i class="material-icons left">refresh</i>LIMPAR
						</a>
					</div>
					
				</form>
				
			</div>

		</div>

		<table class="highlight bordered table-licitacoes">
			<thead>
				<tr>
					<th th:text="#{messages.contratos.numero}"></th>
					<th th:text="#{messages.contratos.fornecedor}"></th>
					<th th:text="#{messages.contratos.orgao}"></th>
					<th th:text="#{messages.contratos.assinatura}"></th>
					<th th:text="#{messages.contratos.vigencia}"></th>
					<th th:text="#{messages.contratos.publicacao}"></th>
					<th th:text="#{messages.contratos.valor}"></th>
				</tr>
			</thead>

			<tbody id="detailBody">
				
				<tr class="tr-conf"  th:each="con : ${contrato}" onclick="displayDetails($(this).attr('id'))">
					<td th:text="${con.numero}" class="bold"></td>
					<td th:if="${con.fornecedor.tipoFornecedor} == 'J'" th:text="${con.fornecedor.razaoSocial}"></td>
					<td th:if="${con.fornecedor.tipoFornecedor} == 'F'" th:text="${con.fornecedor.nome}"></td>
					<td th:text="${con.orgao.orgao}"></td>
					<td th:text="${con.dataAssinatura}"></td>
					<td th:text="${con.dataVigencia}"></td>
					<td th:text="${con.dataPublicacao}"></td>
					<td th:text="'R$ ' + ${con.valor}"></td>
				
					<!-- BLOCO DE DETALHES -->	
					<tr class="remove-line hide-box">
						<td class="p0 col s12 m12 bb0 b0" colspan="12">
							<div class="hidden-tr-conf ">
								<div class="z-depth-2">
									<p class="m0 hidden-tr-title mb20" th:text="#{messages.contratos.detalhes}"></p>
									<div class="row hidden-tr-body">
										<div>
											<label class="col m3" >NÚMERO: <span class="bold" th:text="${con.numero}"></span></label> 
											<!-- <label class="col m2">N° PROCESSO: <span class="bold" th:text="${con.processo}"></span></label> -->
	
										</div>
										<div class="row col s12 m12 mt10 pl0 mb0">
											<label class="col m3 pl0" >DATA ASSINATURA: <span class="bold" th:text="${con.dataAssinatura}"></span></label> 
											<label class="col m2">data VIGÊNCIA: <span class="bold" th:text="${con.dataVigencia}"></span></label> 
											<label class="col m2">data PUBLICAÇÃO: <span class="bold" th:text="${con.dataPublicacao}"></span></label>
										</div>
										<div class="row col s12 m12 mt10 pl0 mb0">
											<label class="col m3 pl0">orgão: <span class="bold" th:text="${con.orgao.orgao}"></span></label>
										</div>
										<div class="row col s12 m12 mt10 pl0 mb0" th:switch="${con.fornecedor.tipoFornecedor}">
											<label th:case="'J'" class="col m3 pl0">FORNECEDOR: 
												<span class="bold" th:text="${con.fornecedor.razaoSocial}"></span>
											</label>
											<label th:case="'J'" >CNPJ: 
												<span class="bold" th:text="${con.fornecedor.cnpj}"></span>
											</label>
											<label th:case="'F'" class="col m3 pl0">FORNECEDOR: 
												<span class="bold" th:text="${con.fornecedor.nome}"></span>
											</label>
											<label th:case="'F'" >CPF: 
												<span class="bold" th:text="${con.fornecedor.cpf}"></span>
											</label>
										</div>
										<div class="row col s12 m12 mt10 pl0 mb0">
											<label class="col m3 pl0">valor: <span class="bold green-text text-darken-3" th:text="'R$ ' + ${con.valor}"></span></label>
										</div>
										<div class="row col s12 m12 mt10 pl0 mb20">
											<label class="col m10 pl0">objeto: <span class="bold red-text text-darken-2" th:text="${con.objeto}"></span></label>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tr>
				
			</tbody>
		</table>
		
	<div class="hide docFile">
		<table class="highlight bordered table-licitacoes fileTable" id="contratoTable">
			<thead>
				<tr>
					<th class="th" th:text="#{messages.contratos.numero}"></th>
					<th class="th" th:text="#{messages.contratos.fornecedor}"></th>
					<th class="th" th:text="#{messages.contratos.orgao}"></th>
					<th class="th" th:text="#{messages.contratos.assinatura}"></th>
					<th class="th" th:text="#{messages.contratos.vigencia}"></th>
					<th class="th" th:text="#{messages.contratos.publicacao}"></th>
					<th class="th" th:text="#{messages.contratos.valor}"></th>
				</tr>
			</thead>

			<tbody id="detailBody">
				
				<tr class="tr-conf"  th:each="con : ${contrato}" onclick="displayDetails($(this).attr('id'))">
					<td th:text="${con.numero}" class="bold td"></td>
					<td class="td" th:if="${con.fornecedor.tipoFornecedor} == 'J'" th:text="${con.fornecedor.razaoSocial}"></td>
					<td class="td" th:if="${con.fornecedor.tipoFornecedor} == 'F'" th:text="${con.fornecedor.nome}"></td>
					<td class="td" th:text="${con.orgao.orgao}"></td>
					<td class="td" th:text="${con.dataAssinatura}"></td>
					<td class="td" th:text="${con.dataVigencia}"></td>
					<td class="td" th:text="${con.dataPublicacao}"></td>
					<td class="td" th:text="'R$ ' + ${con.valor}"></td>
				</tr>
			</tbody>
		</table>
	</div>
		
		<script th:inline="javascript">
		
			function getData(){
				 
				 return [[${contrato}]];
			}
		
		</script>
		
	</section>

</body>
</html>