<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
	<title th:text="#{messages.home}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" th:href="@{/css/home/home.css}" />
	<link rel="stylesheet" th:href="@{/css/noticias/noticia.css}" />
	<link rel="stylesheet" th:href="@{/css/noticias/lightgallery.css}" />
	
	<link th:href="@{css/effects.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/js/Chart.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/home/home.js}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdt8TYNH_GXTN_HWqnv2-jCfgudZm3Psg&amp;callback=initMap"></script>
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	
	<link rel="stylesheet" th:href="@{/css/noticias/lg-theme-default.scss}" />
	
	<script type="text/javascript" th:src="@{/js/imageZoom/lightgallery.js}"></script>
	<script type="text/javascript" th:src="@{/js/imageZoom/picturefill.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/imageZoom/lg-fullscreen.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/imageZoom/jquery.mousewheel.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/imageZoom/lg-hash.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/imageZoom/lg-zoom.js}"></script>

</head>
<body>
	<section layout:fragment="content">

		<!-- MONTANDO O GRID PARA POSICIONAR O FORMULÁRIO NO CENTRO -->
		<div class="mdl-grid">
			<div class="mdl-layout-spacer"></div>
			
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">
				

				<div class="row bg-img mb0">

					<div class="col s12 m12 l12">
						<div class="big-blank-hole"></div>
					</div>

					<!-- SHORTCUT BUTTONS -->
					<div class="col l12 xl12 no-spacing">

						<div class="row">
							<div class="col l12 xl12 no-pad">

								<a class="col s3 m2 shortcut-size shortcut-button btn1 button-effect btn-effect btn-effect-hover waves-effect" href="http://177.107.46.162:8091/portalaraguacu/atalho/contratos.xhtml" target="_blank" > <!-- th:href="@{/editais/contratos}" -->
									<img th:src="@{/img/icons/certif.png}" class="pl20 pr20 pb10 center" height="45" />
									<p class="center-align mt0 mb0" th:text="#{messages.home.contratos}"></p>
								</a> 
								
								<a class="col s3 m2 shortcut-size shortcut-button btn5 button-effect btn-effect-hover waves-effect" th:href="@{/editais/licitacao}"> 
									<img th:src="@{/img/icons/auction.png}" class="pl20 pr20 pb10 center" height="45"/>
									<p class="center-align mt0 mb0" th:text="#{messages.home.licitacoes}"></p>
								</a> 
								<a class="col s3 m2 shortcut-size shortcut-button btn3 button-effect btn-effect-hover waves-effect">
									<img th:src="@{/img/icons/constr.png}" class="pl20 pr20 pb10 center" height="45"/>
									<p class="center-align mt0 mb0" th:text="#{messages.home.obras}"></p>
								</a> 
								<a class="col s3 m2 shortcut-size shortcut-button btn7 button-effect btn-effect-hover waves-effect">
	            						<ul class="list-unstyled row negocio h0 mt0">
							                <li class=" center-align valign-wrapper " th:attr="data-src='/img/mapa-cidade-coleta.png', data-sub-html='&lt;h4&gt;'+'Coleta de Lixo'+'&lt;/h4&gt;'"  >
							                   <img class="img-responsive gallery-img visibility" th:src="@{'/img/mapa-cidade-coleta.png'}"/>
							                </li>
							            </ul>
									<img th:src="@{/img/icons/garg.png}" class="pl20 pr20 pb10 center" height="45"/>
									<p class="center-align mt0 mb0" th:text="#{messages.home.coleta}"></p>
								</a> 
								<a th:href="@{/editais/legislacao}" class="col s3 m2 shortcut-size shortcut-button btn5 button-effect btn-effect-hover waves-effect">
									<img th:src="@{/img/icons/legis.png}" class="pl20 pr20 pb10 center" height="45"/>
									<p class="center-align mt0 mb0" th:text="#{messages.home.legislacao}"></p>
								</a> 
								<a class="col s3 m2 shortcut-size shortcut-button btn1 button-effect btn-effect-hover waves-effect">
									<img th:src="@{/img/icons/contract.png}" class="pl20 pr20 pb10 center" height="45"/>
									<p class="center-align mt0 mb0" th:text="#{messages.home.esic}"></p>
								</a>

							</div>

						</div>

					</div>
					<!-- END SHORTCUT BUTTONS -->

				</div>

				<div class="row mb0">

					<!-- GRAPH -->
					<div class="col l6 xl6 pl0 pr0">
						<div class="row pl0 pr0 mb0 ">
							<div class="col l12 pr0 pl0 graph-conf ">
								<ul class="tabs">
									<li class="tab col l4 xl4">
										<a class="active" href="#pie" th:text="#{messages.home.graph.folha.pagamento}"></a>
									</li>
									<li class="tab col l4 xl4">
										<a href="#line" th:text="#{messages.home.graph.dividas}" onclick="findLineData();"></a>
									</li>
									<li class="tab col l4 xl4">
										<a href="#bar" th:text="#{messages.home.graph.despesas}" onclick="findBarData();"></a>
									</li>
								</ul>
							</div>
							<div class="coll l12 xl12 relative pgraph-top">
								<div id="pie" class="col l12 xl10 pl0 pr0 input-bg white valign">
									<div class="col l12 xl12">
										<canvas id="pieChart"></canvas>
									</div>
								</div>
							</div>
							<div class="coll l12 xl12 relative lgraph-top">
								<div id="line" class="col xl12">
									<div class="col xl11 l10 offset-l1 valign-wrapper">
										<canvas id="lineChart"></canvas>
									</div>
								</div>
							</div>
							<div class="coll l12 xl12 relative lgraph-top">
								<div id="bar" class="col s11">
									<div class="center-align">
										<canvas id="barChart"></canvas>
									</div>
								</div>
							</div>
						</div>

						<script th:inline="javascript">
							function getPieData(){
							 	return [[${pieChart}]];
							}
						</script>
					</div>

					<!-- NEWS -->
					<div class="news white">
						<div class="col s6 m6 mt0">
							<div class="row mb0">
								<div th:each="noticia, iter : ${noticias}">
									<div th:if="${iter.index &lt; 3 and iter.index &#37;2 == 0}" class="col s12 m12" >
										<a th:href="'#' + ${noticia.id}" onmouseover="addTagEffect($(this))"
											onmouseout="removeTagEffect($(this))"
											class="valign-wrapper left-align news-link-conf modal-trigger">
											<div class="row col s6 m6 p20" >
												<span class="news-sub-date" th:text="${noticia.dataNoticia}"></span>
												<span class="pl12 news-sub-theme" th:text="${noticia.categoria.categoria}"></span>
												<h5 class="link-text mt5" th:text="${noticia.titulo}"></h5>
											</div> 
											<img class="col s6 m6 news-link-conf" th:src="@{${noticia.imagens[0].caminho} + ${noticia.imagens[0].nome}}" /> <!-- th:src="@{/img/i3.jpg}"  -->
										</a>
									 </div>
	
									<div class="col s12 m12" th:if="${iter.index &lt; 3 and iter.index &#37;2 &#33;= 0}" >
										<a th:href="'#' + ${noticia.id}" onmouseover="addTagEffect($(this))"
											onmouseout="removeTagEffect($(this))"
											class="valign-wrapper left-align news-link-conf modal-trigger"> 
											<img class="col s6 m6 news-link-conf" th:src="@{${noticia.imagens[0].caminho} + ${noticia.imagens[0].nome}}"/>
											<div class="col s6 m6 p20">
												<span class="news-sub-date" th:text="${noticia.dataNoticia}"></span>
												<span class="pl12 news-sub-theme" th:text="${noticia.categoria.categoria}"></span>
												<h5 class="link-text mt5" th:text="${noticia.titulo}"></h5>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				
				<div class="row mb0 trd-block-h">
				
					<!-- GREEN BOX -->
					<div class="col l6 xl6 pl0 pr0 ">

						<div class="row input-processos mt0 green darken-3 mb0 trd-block-h">
							<h5 class="col l12 xl12 white-text" th:text="#{messages.home.consulta.title}"></h5>



							<h6 class="white-text consulta mt0" th:text="#{messages.home.consulta.info}"></h6>
<script type="text/javascript">
		
var verifyCallback = function(response) {
       if(response.length == 0 ){
       }else{
       	$("#consult").removeClass("disabled");
       }
     };

     var onloadCallback = function() {
 		grecaptcha.render('recaptcha', {
      'sitekey': '6LcqnVMUAAAAAPtdoD-lqWOGgTVYcUq4AnotsPX7',
      'callback' : verifyCallback
    });
  };
</script>
							<form class="col l12 mb0" action="?" method="POST">
								<div class="row input-box-conf">
									<div class=" col l12 xl12 lbl-cpf white-text">
										<h6 class="col l6 xl6 pl0" th:text="#{messages.home.consulta.numero}"></h6>
										<h6 class="col l6 xl6" th:text="#{messages.home.consulta.cpf}"></h6>
									</div>

									<div class="input-field col s6">
										<input placeholder="Número do processo/Ano" type="text"
											class="validate input-config grey-text darken-3" />
									</div>

									<div class="input-field col s6">
										<input placeholder="CPF" type="text"
											class="validate input-config grey-text darken-3" />
									</div>
								</div>

								<div class="row mb0">
									<div class="input-field col s6 offset-m3 mt0 mb0">

      									<div id="recaptcha" data-callback="correctCaptcha" class="mb0">
      									
      									</div>
										<p class="grey-text darken-3"></p>
										
									</div>
									<div class="row mb0">
										<a id="consult" class="col m10 offset-m1 waves-effect waves-light btn-large green darken-4 disabled" th:text="#{messages.home.consulta.consultar}"></a>
									</div>

								</div>

							</form>
						<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="defer"></script>

						</div>


					</div>

					<!-- GOOGLE MAPS -->
					<div class="col l6 xl6 trd-block-h  pl0 pr0">
						<div class="row mb0 ">
							<div class="col l9 xl9 pl0 pr0">
								 <div id="map" class="trd-block-h  pl0 pr0"></div>
							</div>

							<div class="col l3 xl3 pl0 pr0">
								<div class="col l12 xl12 mini-maps-conf blue darken-1 waves-effect mini-effect" onclick="initMap(0)">
									<a class="shortcut-size shortcut-button hoverable" >
										<img th:src="@{/img/icons/city-hall.png}" class="pl20 pr20 pb10 center responsive-img" height="120" />
										<p class="center-align mt0 mb0 bold" th:text="#{messages.home.map.prefeitura}"></p>
									</a> 
									 
								</div>
								<div class="col l12 xl12 mini-maps-conf blue darken-4 waves-effect mini-effect" onclick="initMap(1)">
									<a class="shortcut-size shortcut-button hoverable" >
										<img th:src="@{/img/icons/police2.png}" class="pl20 pt10 pr20 pb15 center responsive-img" height="122" />
										<p class="center-align mt0 mb0 bold" th:text="#{messages.home.map.policia}"></p>
									</a> 
									 
								</div>
								<div class="col l12 xl12 mini-maps-conf blue darken-2 waves-effect mini-effect" onclick="initMap(2)">
									<a class="shortcut-size shortcut-button hoverable" >
										<img th:src="@{/img/icons/hospital.png}" class="pl20 pr20 pb10 center responsive-img" height="110" />
										<p class="center-align mt0 mb0 bold" th:text="#{messages.home.map.hospital}"></p>
									</a> 
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">

					<!-- FACEBOOK -->
					<div class="col s6 m6 mt15">

						<h5 class="facebook-div mb20" th:text="#{messages.home.facebook.title}"></h5>
						<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5" async ="defer"></script>  
						<div id="fb-root"></div>
							<script> 
								window.fbAsyncInit = function() {
								    FB.init({
								        appId            : 'your-app-id',
								        autoLogAppEvents : true,
								        xfbml            : true,
								        version          : 'v2.12'
								      });
								    };
	
								    (function(d, s, id){
								       var js, fjs = d.getElementsByTagName(s)[0];
								       if (d.getElementById(id)) {return;}
								       js = d.createElement(s); js.id = id;
								       js.src = "https://connect.facebook.net/en_US/sdk.js";
								       fjs.parentNode.insertBefore(js, fjs);
							     }(document, 'script', 'facebook-jssdk'));
							</script>

							<div class="fb-page col s10 offset-s2 offset-m2" data-href="https://www.facebook.com/Gov.Mun.Araguacu/" 
								data-tabs="timeline" 
								data-small-header="false" 
								data-adapt-container-width="true"  
								data-width="600" 
								data-hide-cover="false" 
								data-show-facepile="true">
								<blockquote cite="https://www.facebook.com/Gov.Mun.Araguacu/" class="fb-xfbml-parse-ignore">
									<a href="https://www.facebook.com/Gov.Mun.Araguacu/">Prefeitura de Araguaçu</a>
								</blockquote>
							</div>

					 </div>

					<!-- CALENDARIO -->
					<div class="col s6 m6 mt15 ">

						<h5 class="facebook-div mb20" th:text="#{messages.home.calendario}"></h5>
						
				         <div th:id="'event'+${cal.id}" th:classappend="${iter.index == 0} ? '' : hide" class="card col s10 m9 calendar-img-conf offset-m1" th:each="cal, iter : ${calendario}">
					     	<script th:inline="javascript">
						 		function getData(){
						 			return [[${calendario}]];
						 		}
						 	</script>
						    <div>
							    <div class="card-image pointer waves-effect waves-block waves-light hover ehover4" >
							    	<img  class="img-responsive" th:src="@{${cal.imagem}}"/>
							      <div class="overlay">
					                    <h2 th:text="${cal.titulo}"></h2>
					                    <button class="info activator mt10 day" th:inline="text">[[${cal.dia}]]<span class="month" th:Utext="'&lt;br&#47;&gt;' + ${cal.mes}"></span></button>
					                </div>
							    	<a th:attr="fakeId=${cal.id}" onclick="viewPrev($(this).attr('fakeId'), getData())" class="prvBtn left" id="calPrevBtn"><i class="medium material-icons">arrow_back</i></a>
						    		<a th:attr="fakeId=${cal.id}" onclick="viewNext($(this).attr('fakeId'), getData())" class="nxtBtn" id="calNextBtn"><i class="medium material-icons">arrow_forward</i></a>
							    </div>
							</div>
						    <div class="card-reveal">
							    <span class="card-title orange-text text-darken-2" th:inline="text">[[${cal.titulo}]]<i class="orange-text material-icons right">close</i></span>
							    <span class="green-text text-darken-1 options mt10" th:text="${cal.dataInicio} + ' a ' + ${cal.dataFim}"></span>
							    <span class="card-title green-text text-darken-1 options" th:text="'Horário: ' +  ${cal.horarioInicio} + ' às ' + ${cal.horarioFim}"></span>
							    <p th:text="${cal.descricao}" class="grey-text text-darken-1 pt15"></p><br/>
							    <div class="row mb0">
								    <span class="grey-text options col s4 m2" th:text="#{messages.home.calendario.endereco}"></span><span class="grey-text text-darken-1 col s8 m10" th:text="${cal.rua} +', ' + ${cal.numero}"></span>
								</div>
								<div class="row">
							    	<span class="grey-text options col s4 m2" th:text="#{messages.home.calendario.bairro}"></span><span class="grey-text text-darken-1 col s8 m10 pl0" th:text="${cal.bairro}"></span>
								</div>
						    </div>
						  </div>
						
						
					</div>
				</div>

			</section>
			
			<div class="mdl-layout-spacer"></div>
		</div>
		
		<!-- Modal Noticia -->
		<div class="row" th:each="noticia : ${noticias}">
			<div th:id="${noticia.id}" class="col s12 m12 modal modal-fixed-footer  modal-config">
				<div class=" col s10 m10 modal-content">
					<h4 class="modal-title center-align" th:text="${noticia.titulo}"></h4>
					<span class="modal-subtitle bold orange-text" th:text="${noticia.dataNoticia}"></span><span class="bold" th:text="'  -  ' + ${noticia.categoria.categoria}"></span>
					
						  <div class="photo-gallery center-align">
          						<ul class="list-unstyled row negocio ">
				                <li th:each="imagem : ${noticia.imagens}" class=" center-align valign-wrapper " th:attr="data-src=${imagem.caminho} + ${imagem.nome}, data-sub-html='&lt;h4&gt;'+${imagem.titulo}+'&lt;/h4&gt;&lt;p&gt;'+${imagem.descricao}+'&lt;/p&gt;'">
				                    <a href="#" class="center-align">
				                        <img class="img-responsive gallery-img" th:src="@{${imagem.caminho} + ${imagem.nome}}"/>
				                      <div class="demo-gallery-poster">
				                      	<img th:src="@{/img/icons/search.png}"/>
				                      </div>
				                    </a>
				                </li>
				            </ul>
				        </div> 
  							
					<p class="modal-text" th:utext="${noticia.noticia}">
					</p>
					<span class="right" th:text="${noticia.autor.nome}"></span>
				</div>
				<div class="modal-footer">
					<a href="#!"
						class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
				</div>
			</div>
		</div>

	</section>

</body>
</html>
