<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{~/base/layout}">
<head>
<title th:text="#{messages.legislacao.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/home/home.css}" />
<link rel="stylesheet" th:href="@{/css/editais/licitacao.css}" />
<link rel="stylesheet" th:href="@{/css/editais/legislacao.css}" />
 <script type="text/javascript" th:src="@{/js/editais/licitacao.js}"></script>
<script type="text/javascript" th:src="@{/js/editais/legislacao.js}"></script>
<script type="text/javascript" th:src="@{/js/CSVGenerator.js}"></script>
<script type="text/javascript" th:src="@{/js/geral.js}"></script>
</head>
<body>
	<section layout:fragment="content">

		<div class="default-background">
		
			<!-- CAMINHO DE PÃO -->
			 <nav class="breadcrumb-line">
			    <div class="nav-wrapper green darken-3">
			      <div class="col s12 page-align">
			        <a 	th:href="@{/home}" class="breadcrumb white-text" th:text="#{messages.home.caminhopao}"></a>
			        <a th:href="@{/editais/legislacao}" class="breadcrumb white-text" th:text="#{messages.legislacao.caminhopao}"></a>
			      </div>
			    </div>
			  </nav>
		
			<div class="row">
				<div>
					<!-- FIRST CARD -->
				    <div class="card col xl4 l4 greenHover">
					    <div class="card-image waves-effect waves-block waves-light view">
					    	  <img class="activator responsive-img hoverable" th:src="@{/img/icons/leis.png}"/>
					    	  <div class="mask center-align activator">  
								    <a class="info center-align"></a>  
								 </div>
					    </div>
					    <div class="card-content">
					    	<span class="card-title activator center-align" th:text="#{messages.legislacao.leis.orcamentarias}"></span>
					    </div>
					    <div class="card-reveal">
							<span class="card-title green-text" th:inline="text">[[#{messages.legislacao.leis.orcamentarias}]]<i class="material-icons right close deep-orange-text text-accent-3">close</i></span>
							<ul class="collection with-header">
						    	<li class="collection-item">
						    		<div th:inline="text"  th:attr="formTitle=#{messages.legislacao.plurianual}" class="link-conf pointer" onclick="displaySearch(1);changeTitle($(this).attr('formTitle'));" >[[#{messages.legislacao.plurianual}]]
						    			<a href="javascript:void(0);"  class="secondary-content">
						    				<i class="material-icons green-text">send</i>
						    			</a>
						    		</div>
						    	</li>
							    <li class="collection-item">
							    	<div th:inline="text" th:attr="formTitle=#{messages.legislacao.diretrizes}" class="link-conf pointer" onclick="displaySearch(2);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.diretrizes}]]
							    		<a href="javascript:void(0);" class="secondary-content">
							    			<i class="material-icons green-text">send</i>
							    		</a>
							    	</div>
							    </li>
							    <li class="collection-item">
							    	<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.orcamentaria}" onclick="displaySearch(3);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.orcamentaria}]]
							    		<a href="javascript:void(0);" class="secondary-content">
							    			<i class="material-icons green-text">send</i>
							    		</a>
							    	</div>
							    </li>
							    <li class="collection-item">
							    	<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.qdd}" onclick="displaySearch(4);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.qdd}]]
							    		<a href="javascript:void(0);" class="secondary-content">
							    			<i class="material-icons green-text">send</i>
							    		</a>
							    	</div>
							    </li>
							    <li class="collection-item">
							    	<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.execucao}" onclick="displaySearch(5);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.execucao}]]
							    		<a href="javascript:void(0);" class="secondary-content">
							    			<i class="material-icons green-text">send</i>
							    		</a>
							    	</div>
							    </li>
						    </ul>
						 </div>
					  </div>
					  
					  <!-- SECOND CARD -->
					  <div class="card col xl4 l4 blueHover">
						   <div class="card-image waves-effect waves-block waves-light view">
						   		<img class="activator responsive-img" th:src="@{/img/icons/balancetes.png}"/>
						   		<div class="mask center-align activator">  
								    <a class="info center-align"></a>  
								 </div>
						   </div>
						   <div class="card-content">
						      <span class="card-title activator center-align" th:text="#{messages.legislacao.balancetes}"></span>
						   </div>
						   <div class="card-reveal">
							    <span class="card-title green-text" th:inline="text">[[#{messages.legislacao.balancetes}]]<i class="material-icons right close deep-orange-text text-accent-3">close</i></span>
						      	<ul class="collection with-header">
								    <li class="collection-item">
								    	<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.balancetes.financeiros}" onclick="displaySearch(6);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.balancetes.financeiros}]]
								    		<a href="javascript:void(0);" class="secondary-content">
								    			<i class="material-icons green-text">send</i>
								    		</a>
								    	</div>
								    </li>
								    <li class="collection-item">
								    	<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.balancetes.patrimonial}" onclick="displaySearch(7);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.balancetes.patrimonial}]]
								    		<a href="javascript:void(0);" class="secondary-content">
								    			<i class="material-icons green-text">send</i>
								    		</a>
								    	</div>
								    </li>
								    <li class="collection-item">
								    	<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.balancetes.receitas}" onclick="displaySearch(8);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.balancetes.receitas}]]
								    		<a href="javascript:void(0);" class="secondary-content">
								    			<i class="material-icons green-text">send</i>
								    		</a>
								    	</div>
								    </li>
							    </ul>
						   </div>
					  </div>
					  
					  <!-- THIRD CARD -->
					  <div class="card col xl4 l4 activator greenHover">
						   <div class="card-image waves-effect waves-block waves-light view">
						  		<img class="activator responsive-img" th:src="@{/img/icons/relatorios.png}"/>
						  		<div class="mask center-align activator">  
								    <a class="info center-align" title="Full Image"></a>  
								 </div> 
						   </div>
						   <div class="card-content" >
						  		<span  class="card-title activator center-align" th:text="#{messages.legislacao.relatorios}"></span>
						  </div>
					      <div class="card-reveal">
					      	<span class="card-title green-text" th:inline="text">[[#{messages.legislacao.relatorios}]]<i class="material-icons right close deep-orange-text text-accent-3">close</i></span>
						    <ul class="collection with-header">
								<li class="collection-item">
									<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.relatorios.contas}" onclick="displaySearch(10);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.relatorios.contas}]]
										<a href="javascript:void(0);" class="secondary-content">
											<i class="material-icons green-text">send</i>
										</a>
									</div>
								</li>
								<li class="collection-item">
									<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.relatorios.rreo}" onclick="displaySearch(11);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.relatorios.rreo}]]
										<a href="javascript:void(0);" class="secondary-content">
											<i class="material-icons green-text">send</i>
										</a>
									</div>
								</li>
								<li class="collection-item">
									<div th:inline="text" class="link-conf pointer" th:attr="formTitle=#{messages.legislacao.relatorios.rgf}" onclick="displaySearch(12);changeTitle($(this).attr('formTitle'));">[[#{messages.legislacao.relatorios.rgf}]]
										<a href="javascript:void(0);" class="secondary-content">
											<i class="material-icons green-text">send</i>
										</a>
									</div>
								</li>
							</ul>
					      </div>
					  </div>
			    </div>
				<input type="hidden" id="selectedType" value=""/>
				<form class="col xl12 l12 hidden" 
						id="legislacao-form" 
						th:object="${legislacao}" 
						>
					
					<div class="row">
						<h5 id="formTitle" class="page-align blue-text text-lighten-1"></h5>
					</div>
					
					<div class="row">

						<div class="input-field col xl6 l6">
							<div class="relative col xl12 l12 pl0">
								<label th:text="#{messages.licitacao.orgaos}"></label>
								<span class="caret">▼</span>
								<input class="select-dropdown mb0" readonly="true" id="legislacao-orgao" selected-Id="" value="Escolha um orgão" type="text" onclick="openList('legislacao-select')"/>
								<div class='absolute option-drop z-depth-2 pl0 pr0 row col xl12 l12' onmouseleave="hideElement('legislacao-select');">
									 <ul th:name="idOrgao" id="legislacao-select" class="hidden pl0 pr0 col xl12 l12">
										<li th:each="orgao : ${orgaos}" th:id="${orgao.id}" th:value="${orgao.id}" 
											th:text="${orgao.orgao}" 
											onclick="chooseElement($(this).text(), $(this).attr('value'), 'legislacao-select', 'legislacao-orgao');" 
											class="option-hover">
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class=" input-field col l3 xl3">
							<label th:text="#{messages.licitacao.dots.data.inicial}"></label> 
							<input type="text" class="datepicker" id="data-inicial" th:name="dataInicial"/>
						</div>

						<div class="input-field col l3 xl3">
							<label th:text="#{messages.licitacao.dots.data.final}" ></label> 
							<input type="text" class="datepicker" id="data-final" th:name="dataFinal" />
						</div>

					</div>

					<div class="row">
						<div class="input-field col l12 xl12">
							<input type="text" form="legislacao-form"  th:name="nome" maxlength="5000" id="nome-legislacao" class="validate uppercase" /> 
							<label for="objeto-licitacao" th:text="#{messages.legislacao.pesquisa.nome}"></label>
						</div>
					</div>
					
					<input class="hide" value="" id="UserOption" th:name="tipo"></input>
					
					<div class="row center-align">
						<a class="waves-effect waves-green btn transparent green-text text-darken-3 z-depth-3 btn-floating" 
								onclick="refreshCustomSelect('customSelect'), refresh('legislacao-form'), refreshDatePicker('data-inicial', 'data-final');">
							<i class="material-icons left green-text">refresh</i>
						</a>
						<button class="waves-effect waves-light btn green darken-3 z-depth-3 btn-floating ml15" onclick="refreshTable(), hideNotFound();" type="submit">
							<i class="material-icons left">search</i>
						</button>
					</div>
				</form>
		
			</div>
		</div>
		
	 <div class="mt20 white" id="results">
		<div class="divider"></div>
		<table class="highlight bordered table-licitacoes fileTable">
			<thead class="white">
				<tr>
					<th class="th center-align black-text" th:text="#{messages.legislacao.result.nome}"></th>
					<th class="th center-align black-text" th:text="#{messages.legislacao.result.exercicio}"></th>
					<th class="th center-align black-text" th:text="#{messages.legislacao.result.mes}"></th>
					<th class="th center-align black-text" th:text="#{messages.legislacao.result.resumo}"></th>
					<th class="th center-align black-text" th:text="#{messages.legislacao.result.orgao}"></th>
					<th class="th center-align black-text" th:text="#{messages.legislacao.result.arquivo}"></th>
				</tr>
			</thead>

			<tbody id="detailBody" class="white">
				
			</tbody>
		</table>
		
		<div id="notFound" class="center-align display-transition white">
			<br/>
			<img class="responsive-img center not-found" th:src="@{/img/no-results.png}"/>
			<p class="not-found-message mb0">Não Existe nada Aqui!</p>
			<label class="not-found-subtitle">Não conseguimos encontrar nada para sua busca. Mude os filtros e tente novamente.</label>
			<p></p>
		</div>
		
	</div>
	
	<div id="printPDF" class="hide docFile">	
		<table  class="highlight bordered table-licitacoes fileTable">
			<thead>
				<tr>
					<th class="th" th:text="#{messages.licitacao.nprocesso}"></th>
					<th class="th" th:text="#{messages.licitacao.edital}"></th>
					<th class="th" th:text="#{messages.licitacao.dt.abertura}"></th>
					<th class="th" th:text="#{messages.licitacao.modalidade}"></th>
					<th class="th" th:text="#{messages.licitacao.objeto}"></th>
					<th class="th" th:text="#{messages.licitacao.situacao}"></th>
					<th class="th" th:text="#{messages.licitacao.valor}"></th>
				</tr>
			</thead>

			<tbody id="detailBody">
				<tr class="tr-conf tr"  th:each="lic : ${licitacao}">
					<td th:text="${lic.processo}" class="bold td"></td>
					<td th:text="${lic.edital}" class="td"></td>
					<td th:text="${lic.dataAbertura}" class="td"></td>
					<td th:text="${lic.modalidade.modalidade}" class="td"></td>
					<td th:text="${lic.objeto}" class="td"></td>
					<td th:text="${lic.situacao.descricao}" class="td"></td>
					<td th:text="'R$ ' + ${lic.valor}" class="td"></td>
				</tr>
			</tbody>
			
		</table>
	</div>
		
	<a id="pageup" class="btn-large btn-floating pulse hide right grey lighten-5 mr40 btn-swing" onclick="moveToTop(), hideBtn('pageup');">
		<i class="green-text text-darken-3 material-icons ">arrow_upward</i>
	</a>
		
	</section>

</body>
</html>