<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<title th:text="#{messages.noticias}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/home/home.css}" />
<link rel="stylesheet" th:href="@{/css/noticias/noticia.css}" />
<link rel="stylesheet" th:href="@{/css/noticias/lightgallery.css}" />

<link rel="stylesheet" th:href="@{/css/noticias/lg-theme-default.scss}" />
<script type="text/javascript" th:src="@{/js/noticia/noticia.js}"></script>

<script type="text/javascript" th:src="@{/js/imageZoom/lightgallery.js}"></script>
<script type="text/javascript" th:src="@{/js/imageZoom/picturefill.min.js}"></script>
<script type="text/javascript" th:src="@{/js/imageZoom/lg-fullscreen.min.js}"></script>
<script type="text/javascript" th:src="@{/js/imageZoom/jquery.mousewheel.min.js}"></script>
<script type="text/javascript" th:src="@{/js/imageZoom/lg-hash.min.js}"></script>
<script type="text/javascript" th:src="@{/js/imageZoom/lg-zoom.js}"></script>

</head>
<body>
	<section layout:fragment="content">
		
		<!-- MONTANDO O GRID PARA POSICIONAR O FORMULÁRIO NO CENTRO -->
		<div class="mdl-grid">
			<div class="mdl-layout-spacer"></div>
			<section
				class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">

				<div>
					<!-- NEWS -->
					<div class="news">

						<h5 class="green-text text-darken-2 title-conf" th:text="#{messages.noticias.title}"></h5>

						<div class="row news-board">

							<div class="col s6 m6 mt20" th:each="noticia, iter : ${noticias}">

								<div class="row mb0"  >

									<div class="col s11 m11" th:if="${iter.index &lt;= 5}">
										<a th:href="'#' + ${noticia.id}" onmouseover="addTagEffect($(this))"
											onmouseout="removeTagEffect($(this))"
											class="valign-wrapper left-align news-link-conf modal-trigger"> <!-- onclick="modalFeed($(this), getData()) " -->
											
											<img th:if="${not #lists.isEmpty(noticia.imagens)} " class="col s6 m6 news-img " th:src="@{${noticia.imagens[0].caminho} + ${noticia.imagens[0].nome}}" /> 

											<div class="col s5 m5 p20">
												<span class="news-sub-date" th:text="${noticia.dataNoticia}"></span>
												<span class="pl12 news-sub-theme" th:text="${noticia.categoria.categoria}"></span>
												<h5 class="link-text mt5" th:title="${noticia.titulo}" th:text="${noticia.titulo}"></h5>
												<h6 class="hide news-text" th:utext="${noticia.noticia}"></h6>
											</div>
										</a>

									</div>
									
								</div>
								
							</div>

						</div>
						
						<!-- NOTICIAS ANTIGAS -->
						<div th:if="${oldNews}">
						
							<h6 class="green-text text-darken-2 title-conf" th:text="#{messages.noticias.antigas}"></h6>

							<div class="row col s6 m6 ml15">
								<div class="col s6 m6" th:each="noticia, iter : ${noticias}">
									<a th:href="'#' + ${noticia.id}" onmouseover="addTagEffect($(this))"
										onmouseout="removeTagEffect($(this))"
										class="valign-wrapper left-align modal-trigger" th:if="${iter.index &gt; 5}">

										<div class="col s12 m12 p20">
											<span class="news-sub-date" th:text="${noticia.dataNoticia}"></span> <span
												class="pl12 news-sub-theme" th:text="${noticia.categoria.categoria}"></span>
											<h5 class="link-text mt5" th:text="${noticia.titulo}" ></h5>
										</div>
									</a>
								</div>
								
							</div>

						</div>

					</div>
				</div>
				
				<!-- Modal Noticia -->
				<div class="row" th:each="noticia : ${noticias}">
					<div th:id="${noticia.id}" class="col s12 m12 modal modal-fixed-footer  modal-config">
						<div class=" col s10 m10 modal-content">
							<h4 class="modal-title center-align" th:text="${noticia.titulo}"></h4>
							<span class="modal-subtitle bold orange-text" th:text="${noticia.dataNoticia}"></span><span class="bold" th:text="'  -  ' + ${noticia.categoria.categoria}"></span>
							
						 	<!-- <div class="slider" > -->
								 <!--  <ul class="slides">
									<li th:each="imagem : ${noticia.imagens}" onclick="pauseSlider()"> 
									<div th:each="imagem : ${noticia.imagens}">
										<img  width="250" class="materialboxed" data-caption="A picture of a way with a group of trees in a park" th:src="@{${imagem.caminho} + ${imagem.nome}}" />
										</div> 
										 <div class="caption center-align"> 
											 <h3>This is our big Tagline!</h3>  
											<h5 class="light grey-text text-lighten-3" th:text="${imagem.descricao}"></h5>
										</div>
									</li>
								</ul> -->
							<!-- </div> --> 
								
								  <div class="photo-gallery center-align">
								  
								   
								   <div class="slider">
            						<ul class="list-unstyled row negocio slides">
						                <li th:each="imagem : ${noticia.imagens}" class=" center-align valign-wrapper" th:attr="data-src=${imagem.caminho} + ${imagem.nome}, data-sub-html='&lt;h4&gt;'+${imagem.titulo}+'&lt;/h4&gt;&lt;p&gt;'+${imagem.descricao}+'&lt;/p&gt;'"    >
						                    <a href="#" class="center-align">
						                        <img class="img-responsive  sliderimg" th:src="@{${imagem.caminho} + ${imagem.nome}}"/> <!-- gallery-img  -->
						                     <!--  <div class="demo-gallery-poster">
						                      	<img th:src="@{/img/icons/search.png}"/>
						                      </div> -->
						                    </a>
						                </li>
						            </ul>
						        </div> 
    							</div>
							<p class="modal-text" th:utext="${noticia.noticia}">
							</p>
							<span class="right" th:text="${noticia.autor.nome}"></span>
						</div>
						<div class="modal-footer">
							<a href="#!"
								class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
						</div>
					</div>
				</div>
			</section>
		</div>

	</section>

</body>
</html>