<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{~/base/layout}">
<head>
<title th:text="#{messages.prefeitura.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Prefeitura" />
<link rel="stylesheet" th:href="@{/css/home/home.css}" />
<link rel="stylesheet" th:href="@{/css/licitacao/licitacao.css}" />
<link rel="stylesheet" th:href="@{/css/prefeitura/prefeitura.css}" />

<script type="text/javascript" th:src="@{/js/licitacao/licitacao.js}"></script>
<script type="text/javascript" th:src="@{/js/prefeitura/prefeitura.js}"></script>

<script type="text/javascript" th:src="@{/js/contrato/contrato.js}"></script>


</head>
<body>
	<section layout:fragment="content">

		<div class="background">
		
			<!-- CAMINHO DE PÃO -->
			 <nav class="breadcrumb-line">
			    <div class="nav-wrapper green darken-3">
			      <div class="col s12 page-align">
			        <a 	th:href="@{/home}" class="breadcrumb white-text" th:text="#{messages.home.caminhopao}"></a>
			        <a th:href="@{/prefeitura/historia}" class="breadcrumb white-text" th:text="#{messages.prefeitura.caminhopao}"></a>
			      </div>
			    </div>
			  </nav>
			  
			<div class="row pl20">
			
				<div class="section white">
				    <div class="row">
				    	<div class='row hide'>
					    	<div class="center mb20">
					    		<div class="col l6 xl6">
					    			<img class="circle mayor-effect right " height="200" width="200" src=""/>
					    			<div class=" info-block  teste">
					    			
					    			</div>
					    		</div>
					    		<div class="col l6 xl6">
					    			<div class=" green lighten-2 info-block valign-wrapper">
					    				<img class="circle left" height="200" width="200" src=""/>
					    			</div>
					    		</div>
					    	</div>
				    	</div>
				    	<br/>
				    	<div class="mt20">
				    		<h5 class="bold green-text text-darken-2 uppercase mt20">História do Municipio</h5>
				    		<div class="divider mr20"></div>
				      		<p class="grey-text text-darken-3 lighten-3 mr20" id="prefeitura-historia" th:utext="#{messages.prefeitura.historia}"> </p>
				    	</div>
				    </div>
				</div>
				<div class="parallax-container">
				    <div class="parallax"><img src="/img/teste.jpeg"/></div>
				</div>
				<div class="section white center">
				    <div class="row container">
				      <h5 class="bold green-text text-darken-2" th:text="#{messages.prefeitura.hino}"></h5>
				      <div class="divider mr20"></div>
				      <p class="right pr20" th:text="#{messages.prefeitura.letra.melodia}"></p><br/><br/><br/>
				      <p class="grey-text text-darken-3 lighten-3 pl20 col l6 xl6 center" th:utext="#{messages.prefeitura.hino.start}">
				      	
				      </p>
				      <p class="grey-text text-darken-3 lighten-3 pl20 col l6 xl6" th:utext="#{messages.prefeitura.hino.end}">
				      	
				      </p>
				      
				    </div>
				</div>
				
			</div>

		</div>

	</section>

</body>
</html>