<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<title th:text="#{messages.secretaria.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/home/home.css}" />
<link rel="stylesheet" th:href="@{/css/contato/contato.css}" />
<link rel="stylesheet" th:href="@{/css/prefeitura/secretaria.css}" />

<script type="text/javascript" th:src="@{/js/contato/contato.js}"></script>
<script type="text/javascript" th:src="@{/js/prefeitura/secretaria.js}"></script>


</head>
<body>
	<section layout:fragment="content">
		
		<div class="mdl-grid">
		
			<!-- CAMINHO DE PÃO -->
			 <nav class="breadcrumb-line">
			    <div class="nav-wrapper green darken-3">
			      <div class="col s12 page-align">
			        <a 	th:href="@{/home}" class="breadcrumb white-text" th:text="#{messages.home.caminhopao}"></a>
			        <a th:href="@{/prefeitura/secretaria}" class="breadcrumb white-text" th:text="#{messages.secretaria.caminhopao}"></a>
			      </div>
			    </div>
			  </nav>
		
			<div class="mdl-layout-spacer"></div>
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">
			
			
				<div class="background pl20">
				
					<div class="secretaria-title pb10 pt20">
						<div>
							<h5 class="uppercase green-text text-darken-2 bold">Secretarias Municipais</h5>
						</div>
					</div>
				<form id="secretaria-form" 
						th:object="${secretaria}">
				
					<div class="row mb0">
						<div class="col l12 xl12 offset-l1 offset-xl1">
						
							<a href="javascript:void(0);" onclick="refreshTable(),findSecretaria(1)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> dvr</i>
								<p class="m0 center" th:text="#{messages.secretaria.administracao}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="refreshTable(), findSecretaria(2)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> attach_money</i>
								<p class="m0 center" th:text="#{messages.secretaria.financa}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(10)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> border_color</i>
								<p class="m0 center" th:text="#{messages.secretaria.planejamento}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(4)" class="col l2 xl2 mr10 mb10 square center hoverable btn-font">
								<i class="small material-icons prefix grey-text lighten-1"> nature_people</i>
								<p class="m0 btn-font center" th:text="#{messages.secretaria.ambiente}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(5)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> home</i>
								<p class="m0 center" th:text="#{messages.secretaria.cidade}"></p>
							</a>
							
						</div>
						
					</div>		
					
					<div class="row mb0">
						<div class="col l12 xl12 offset-l1 offset-xl1">
						
							<a href="javascript:void(0);" onclick="findSecretaria(13)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> local_hospital</i>
								<p class="m0 center" th:text="#{messages.secretaria.saude}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(14)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> school</i>
								<p class="m0 center" th:text="#{messages.secretaria.educacao}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(6)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> local_library</i>
								<p class="m0 center" th:text="#{messages.secretaria.cultura}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(7)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> mic</i>
								<p class="m0 center" th:text="#{messages.secretaria.comunicacao}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(3)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> fitness_center</i>
								<p class="m0 center" th:text="#{messages.secretaria.esporte}"></p>
							</a>
							
						</div>
					</div>
					
					<div class="row mb0">
						<div class="col l12 xl12 offset-l1 offset-xl1">
						
							<a href="javascript:void(0);" onclick="findSecretaria(15)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> business_center</i>
								<p class="m0 center" th:text="#{messages.secretaria.trabalho}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(8)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1 "> settings</i>
								<p class="m0 center" th:text="#{messages.secretaria.infraestrutura}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(11)" class="col l2 xl2 mr10 mb10 square center hoverable btn-font">
								<i class="small material-icons prefix grey-text lighten-1"> hotel</i>
								<p class="m0 center" th:text="#{messages.secretaria.habitacao}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(12)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> trending_up</i>
								<p class="m0 center" th:text="#{messages.secretaria.desenvolvimento}"></p>
							</a>
							
							<a href="javascript:void(0);" onclick="findSecretaria(9)" class="col l2 xl2 mr10 mb10 square center hoverable">
								<i class="small material-icons prefix grey-text lighten-1"> pets</i>
								<p class="m0 center" th:text="#{messages.secretaria.agricultura}"></p>
							</a>
						
						</div>
					</div>
					
					</form>
					
					<div class="row">
						
					</div>
				
				</div>
				
				<div class="pl20 hide" id="secretaria-desccricao">
				<h5 class="uppercase green-text text-darken-2 bold" id="secretaria-titulo"></h5>
					<div class="pl20">
						<label th:text="#{messages.secretaria.secretario}"></label> <span id="secretaria-secretario"></span> <br/>
						<label th:text="#{messages.secretaria.missao}"></label> <span id="secretaria-missao"></span> <br/>
						<label th:text="#{messages.secretaria.telefone}"></label> <span id="secretaria-telefone"></span><br/>
						<label th:text="#{messages.secretaria.email}"></label> <span id="secretaria-email"></span><br/>
						<label th:text="#{messages.secretaria.horario}"></label> <span id="secretaria-inicio"></span> <span>&nbsp;às&nbsp;</span><span id="secretaria-fim"></span><br/>
					</div>
					<h5 class="uppercase green-text text-darken-2 bold" th:text="#{messages.secretaria.projetos}"></h5> <br/>
					 <ul class="collapsible" data-collapsible="accordion" id="secretaria-accordion">
					     
					 </ul>
				</div>
				
			</section>
		</div>
	<a id="pageup" class="btn-large btn-floating pulse hide right grey lighten-5 mr40 btn-swing" onclick="moveToTop(), hideBtn('pageup');"><i class="green-text text-darken-3 material-icons ">arrow_upward</i></a>
	</section>

</body>
</html>