.list-bg {
	background-color: #F6F4F1 !important;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.collection {
	margin: .5rem 0 0 0;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
}

.card {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #fafafa;
}

.card:HOVER .card-content span {
	/* color: #42a5f5 !important; */
	
}

.card-reveal {
	background-color: #fafafa !important;
}

.card-title {
	
}

.activator:HOVER {
	color: #42a5f5 !important;
}

.greenHover:hover .card-content span {
	color: #43a047 !important;
}

.blueHover:hover .card-content span {
	color: #42a5f5 !important;
}

.close {
	transition: all .2s ease-in-out;
}

.close:HOVER {
	transform: scale(2.1);
}

.link-conf:HOVER {
	color: #42a5f5 !important;
}

.second-effect .mask {
	opacity: 0;
	overflow: visible;
	border: 0px solid rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	transition: all 0.4s ease-in-out;
}

.second-effect a.info {
	position: relative;
	top: -10px;
	opacity: 0;
	transform: scale(0, 0);
	transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}

.second-effect:hover .mask {
	/*	opacity: 1;
	border: 230px solid rgba(0, 0, 0, 0.7);*/
	
}

.view:hover img {
	transform: translate3d(0, 0, 0) scale(1.1, 1.1);
	opacity: 1;
	z-index: 999 !important;
}

.second-effect:hover a.info {
	transform: translate3d(0, 0, 0) scale(1.1, 1.1);
	opacity: 1;
	z-index: 999 !important;
}

.view a.info {
	/*background: url('/img/icons/search.png') no-repeat;
	display: inline-block;
	text-decoration: none;
	padding: 0;
	text-indent: -9999px;
	width: 30px;
	height: 30px;*/
	
}

.hidden {
	display: none;
}

.download {
	transition: all .2s ease-in-out;
}

.download:HOVER {
	transform: scale(1.8);
}

.option-hover {
	font-size: 18px;
	color: #009688;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	
}

.option-hover:hover {
	background-color: #eeeeee;
}

.caret {
	color: initial;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 10px;
	margin: auto 0;
	font-size: 10px;
	line-height: 10px;
}


