<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title th:text="#{messages.header.title}"></title>
	
	<link rel="icon" href="/img/brasaoleft.png"/>
	<link rel="stylesheet" th:href="@{/css/materialize.min.css}" />
	<link rel="stylesheet" th:href="@{/css/geral.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />
	
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
	<script type="text/javascript" th:src="@{/js/geral.js}"></script>
</head>

<body>
 
	<main class="mdl-layout__content mdl-color--blue-grey-100">
		<div class="page-content">

			<!-- CONTEUDO A SER SUBSTITUÍDO -->
			<div layout:fragment="content">Essa parte vai ser substituída</div>
		</div>
	</main>
 
</body>
</html>