.bg-img {
	background-image: url('/img/vacas.jpg');
}

.container img {
	max-width: 375px;
	width: auto;
}

.container {
	clear: both;
	margin-top: 0px;
}

img {
	vertical-align: top;
	horizontal-align: left;
}

.big-blank-hole {
	margin: 500px;
}

.no-spacing {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-spacing a div {
	margin-top: 70px;
	text-align: right;
	padding-right: 5px;
}

.button-effect {
	min-height: 261px;
}

.button-effect:HOVER p {
	font-weight: bolder;
	/*transform: translate3d(0, 0, 0) scale(1.1, 1.1);
	opacity: 1;
	z-index: 999 !important;*/
}

.btn-effect:HOVER{
	font-weight: bolder;
	
	/*box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
	border-radius: 5px; */
}


.btn-effect-hover:HOVER {
	box-shadow: 0 0 3px 3px rgba(165, 214, 167, 0.5);
	border-radius: 5px;
}

.btn1 {
	background-color: #04773b;
}

.btn3 {
	background-color: #03440c;
}

.btn5 {
	background-color: #058e3f;
}

.btn7 {
	background-color: #088a08;
}

.no-pad {
	padding: 0px !important;
}

.no-spacing .row {
	margin-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-spacing .row {
	margin-bottom: 0px !important;
}

.shortcut-button {
	padding-top: 20px !important;
	color: white !important;
	font-size: 15px;
}

.shortcut-button i {
	text-align: right;
	padding-right: 0px !important;
	font-size: 20px;
}

.shortcut-size:HOVER {
	transform: translate3d(0, 0, 0) scale(1.1, 1.1); 
	/** default is 1, scale it to 1.5 */
	opacity: 1;
	z-index: 999 !important; 
}

.graph-conf .tabs {
	
}

.tabs .indicator {
	background-color: #4caf50;
}

/*******************************/
/*		DIV PHOTOS  			*/
/*******************************/
.photos-bg-color {
	background-color: rgba(100, 100, 100, 0.5);
}

.ar-photo-carousel {
	width: 50% !important;
}

.ar-options-btn {
	text-align: center;
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	background-color: #0dab76;
	color: white !important;
	font-weight: bold;
}

.relative {
	position: relative;
}

.pgraph-top {
	top: 90px;
	left: 7%;
}

@media ( max-width : 1380px) {
	.pgraph-top {
		top: 70px;
		left: 1%;
	}
}

@media ( max-width : 1030px) {
	.pgraph-top {
		top: 70px;
		left: -15%;
	}
}

.chart-size {
	height: 450px !important;
	/*width: 80% !important; */
}

.bg-test {
	background-color: #f1f1f1;
}

/*******************************/
/*		NEWS         			*/
/*******************************/
.last-news {
	font-weight: bold;
	color: #04773b;
}

.news {
	min-height: 498px !important;
}

.news .col {
	padding-left: 0px;
	padding-right: 0px;
}

.card .card-image>img {
	/**height: 175px !important; **/
	
}

.news  .card {
	margin-top: 0px;
	margin-bottom: 0px;
}

.news  .card:HOVER {
	transform: translate3d(0, 0, 0) scale(1.1, 1.1);
	/** default is 1, scale it to 1.5 */
	opacity: 1;
	z-index: 999 !important;
}

.news-btn {
	background-color: #04773b;
}

.news-link-conf {
	max-height: 166px;
}

.news-link-conf span {
	text-transform: uppercase;
}

.news-link-conf img {
	border-radius: 3px;
}

.news-link-conf img:HOVER {
	color: #ffa000;
}

.news-link-conf:HOVER img{
	 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.link-text {
	font-size: 18px;
}

.news-hover-conf {
	transition: color 0.5s ease;
	text-decoration: underline !important;
	color: #DF7401;
}

.news-sub-date {
	color: #ffa000;
}

.news-sub-theme {
	color: #bdbdbd;
}
/*******************************/
/*		INPUTS      			*/
/*******************************/
.trd-block-h {
	height: 467px;
}

.input-processos {
	
}

.input-processos h5 {
	padding: 20px !important;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 10px;
}

.input-field input {
	height: 58px !important;
	font-size: 20px !important;
	padding-left: 7px !important;
	border-radius: 2px !important;
}

.consulta {
	padding-left: 20px;
}

.input-bg p {
	padding: 20px;
	padding-top: 0px;
}

.input-config {
	background-color: white !important;
}

.input-box-conf {
	padding-top: 40px;
}

.input-color {
	color: white;
}

.lbl-cpf h6 {
	font-weight: bold;
}

.captcha-box {
	background-color: white;
	border-radius: 2px;
	margin-bottom: 30px;
}
/*******************************/
/*		MAPS	      			*/
/*******************************/
.mini-maps-conf {
	height: 155px;
	/*border: 2px solid #9e9e9e !important;*/
}

.mini-map-button {
	background-color: #08088A;
}

.mini-maps-conf:HOVER {
	transform: translate3d(0, 0, 0) scale(1.1, 1.1);
	/** default is 1, scale it to 1.5 */
	opacity: 1;
	z-index: 999 !important;
}
.mini-effect:HOVER {
	box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
	border-radius: 5px;
}

/*******************************/
/*		FACEBOOK     			*/
/*******************************/
.facebook-div {
	font-weight: bold;
	padding-left: 20px;
}

/*******************************/
/*		calendario     			*/
/*******************************/
.board-conf {
	height: 500px;
}

.block-conf {
	border-radius: 6px;
}

.top {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: white;
	font-size: 35px;
	color: #04773b;
	font-weight: 900;
}

.botton {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #04773b;
	font-size: 20px;
	color: white;
}

.board-message-conf {
	font-size: 20px;
}

hr {
	height: 3px;
	background: #f1f1f1;
	background: linear-gradient(to right, transparent, #689f38, #558b2f, #33691e,
		#558b2f, #689f38, transparent);
}

.calendar-conf .card {
	border-radius: 7px !important;
	background-color: transparent;
	cursor: pointer;
	webkit-box-shadow: none !important;
	box-shadow: none;
}

.calendar-img-conf {
	padding: 0px !important;
	position: relative;
}

.calendar span {
	background-color: #fff !important;
}

.num-conf span {
	background-color: green !important;
}

.calendar-conf .card .card-content {
	padding: 0px;
}

.card .calendar {
	/**background-color: #fafafa;**/
	
}

.card-reveal p {
	text-transform: none;
}

.card-reveal p::first-letter {
	font-size: 120%;
	color: #ff9800;
	margin-left: 15px;
}

.options {
	font-size: 16px !important;
	text-transform: none;
}

.collapsible {
	border-radius: 7px;
}

.ehover4 button.info {
	width: 80%;
	height: 80%;
}

.prvBtn {
	position: absolute; 
	top : 50%;
	left: -90%;
	bottom: 50%;
}

.prvBtn:HOVER{
	 -webkit-animation: swing 1s ease;
     animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}

.nxtBtn {
	position: absolute; 
	top: 50%;
	left: 90%;
	bottom: 50%;
}

.nxtBtn:HOVER{
	 -webkit-animation: swing 1s ease;
     animation: swing 1s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}

.day {
	font-size: 200%;
}

.month {
	font-size: 250%;
	font-weight: 400;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

