.background {
	background-color: #fff;
}

.table-licitacoes {
	
}

.tr-conf:HOVER {
	background-color: #90caf9 !important;
}

.hidden-tr-conf {
	border: 8px solid #a5d6a7;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}

.hidden-tr-title {
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e8f5e9;
}

.hidden-tr-body {
	padding-left: 40px;
	margin-bottom: 0px;
}

.hidden-tr-body label span {
	color: black !important;
	text-transform: uppercase;
}

.hidden-tr-body label {
	text-transform: uppercase;
	padding-left: 0px !important;
}

.remove-line {
	border-bottom: 0px !important;
}

.attachment-box {
	text-transform: uppercase;
}

.box-line{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.hide-box{
	display: none !important;
	transition: display 0s, opacity 0.2s linear;
	opacity: 0; 
}
.display-box{
	opacity: 1;
}